/* Estilos gerais */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background: url('https://image.api.playstation.com/vulcan/ap/rnd/202407/1814/91f55ab9e79e1853fa1094bcd9cbe88ea6ddba474675c75d.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 300px 10px;
    position: relative;
    min-height: 400px; /* Definindo uma altura mínima para o cabeçalho */
}

/* Sobreposição no header */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Reduzindo a opacidade para 0.3 */
    z-index: 1;
}

header h1 {
    position: relative;
    z-index: 2;
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adicionando uma sombra ao texto */
}

header img {
    display: none; /* Ocultando a imagem original */
}

/* Seções */
main {
    padding: 20px;
}

section {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

/* Animação */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Links */
a {
    color: #fff;
    background-color: #1e90ff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

a:hover {
    background-color: #4169e1;
    text-decoration: none;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
}
