/* Estilos gerais */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: #222;
}

/* Seções */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Links */
a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Galeria de imagens */
.galeria img {
    width: 45%;
    margin: 5px;
    border: 2px solid #fff;
    height: 500px;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
}
