body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:url(https://motionbgs.com/media/3639/super-mario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 50px 0;
}
.header h1 {
    font-size: 3em;
    color: #B866ED;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.member {
    background-color: #ffffff;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.member h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #0073a8;
}
.member p {
    font-size: 1em;
    color: #ffffff;
}